a.lat {
    padding: 1%;
    background-color: lightseagreen;
    color: white;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif; 
    font-size: medium;  
}

.to-right {
    float: right;
  }

  /* Modify brand and text color  
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
	color: green; 
} */

/* Modify the backgorund color */ 
.navbar-custom { 
	background-color: white; 
} 

.body-grey {
    background-color:grey;
    padding: 2%;
}
.body-white {
    background-color: white;
    padding:3%
}

.col_pad1 {
    padding: 3%;
    text-align: justify;
}

.col_pad2 {
    padding: 6%;
    text-align: justify;
}

h1 {
    color:lightseagreen;
    font-size: 24px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color:lightseagreen;
    font-size: 18px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
